.loading-spinner-style{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logout-button{
    background-color: transparent;
    border: 0px;
}
.logout-button:hover{
    background-color: transparent;
    border: 0px;
}
.logout-button:focus{
    background-color: inherit;
}
.post-field-input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    resize: none;
}
.homepage-container{
    border: 1px lightgrey solid;
}
.input-field-text-area{
    border:0;
}
.homepage-image-box{
    margin-top: 14px;
    border: 1px rgb(114, 114, 252) solid;
    padding: 9px 6px;
    height:50px;
    width: 50px;

    background-color: rgb(185, 185, 253);
    color: white;
    font-size: 22px;
    border-radius: 50%;
}
footer-link:hover{
    color:red;
}