@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');
*{
    font-family: Dosis;
    font-weight: 600;
    margin: 0px;
}
.post-by-id-container{
    position: relative;
    
    font-family: Poppins;
    margin: -13px 0;
    padding:0 16px;

    max-width: 450px;
    width: 100%;
}

.user-box{

    text-decoration: none;
    
    font-size: 15px;
    font-weight: bold;
    color:rgb(153, 152, 152);
}
.user-box:hover{
    text-decoration: none;
    color:#646363;
}
.post-content{
    margin:30px 14px 20px;
    font-size: 32px;

}
.post-posted-on{
    
    font-size: 14px;
    color:#c5c5c5;
}
.post-content-with-link{
    text-decoration: none;
    margin:8px;
    font-size: 24px;
    color:black;
}
.post-content-with-link:hover{
    text-decoration: none;
    margin:14px;
    color:black;
}