.error-msg{
    font-size: 14px;
    color:red;
    margin-bottom: 0px;
    margin-left: 12px;
}
.registration-form{
    border: 2px lightgrey solid;
    border-radius: 28px;
    padding: 18px 28px;
    max-width: 540px;
    width: 90%;
    max-width: 480px;
}
.input-field{
    background-color: rgb(243, 243, 243);
}